@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  height: 100%; }

.logo {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 30px;
  padding: 0.5em 0 0 0.5em;
  margin: 0.5em 0 0 0.5em;
  color: #75CCB1; }
  .logo .logo1 {
    font-weight: bold; }
  .logo .logo2 {
    color: #E87461;
    font-weight: lighter; }

.about {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  float: right;
  margin-right: 40px;
  color: #b9b9b9;
  font-size: 0.6em;
  line-height: 1.5em;
  padding-top: 5px; }

.headline-hero {
  text-align: center;
  font-size: 3em;
  color: #525252;
  padding: 80px 0 0 0; }

p {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: center;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto; }
  p::after {
    clear: both;
    content: "";
    display: table; }

.bottom {
  background: #E87461;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #525252; }
  .bottom .content {
    text-align: right;
    padding: 1em 1em 1em 1em; }
    .bottom .content .bottom-tagline1 {
      font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      color: white; }
    .bottom .content .bottom-tagline2 {
      font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-weight: lighter;
      color: white;
      letter-spacing: 0.04em; }

.tooltip-item {
  width: auto; }
  .tooltip-item:focus, .tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible; }
  .tooltip-item .tooltip {
    position: absolute;
    right: 0;
    bottom: 3em;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px silver;
    color: #333;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 16em;
    opacity: 0;
    padding: 1em;
    text-align: center;
    visibility: hidden;
    z-index: 10; }
    .tooltip-item .tooltip p {
      color: #333;
      line-height: 1.5em;
      margin: 0; }
    .tooltip-item .tooltip:after {
      position: absolute;
      right: 0;
      left: 0;
      border: 8px solid transparent;
      bottom: -1.3em;
      color: white;
      content: '▼';
      font-size: 1.4em;
      margin-left: -8px;
      text-align: center;
      text-shadow: 0 2px 2px silver; }

.modal label {
  cursor: pointer;
  margin-bottom: 0;
  float: right; }
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }
.modal .modal-state {
  display: none; }
.modal .modal-trigger {
  padding: 0 1em;
  margin: 0 2em;
  color: #d8d8d8; }
.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 53.75em) {
    .modal .modal-fade-screen {
      padding-top: 10em; } }
  .modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: white;
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #DDD;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: white;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (min-width: 40em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media screen and (min-width: 53.75em) {
    .modal .modal-inner {
      width: 50%; } }
  .modal .modal-inner h1 {
    color: #333;
    margin-bottom: 0 0 0.6em 0;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner p {
    color: #333;
    line-height: 1.5em; }
  .modal .modal-inner .modal-intro {
    font-weight: 800; }
  .modal .modal-inner .modal-content {
    color: #333; }
  .modal .modal-inner a.cta {
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em; }

.modal-open {
  overflow: hidden; }

/* Button container */
.box {
  width: 405px;
  margin: 0 auto;
  margin-top: 40px; }

.progress-button {
  text-align: center;
  margin: 0 auto;
  display: inline-block; }

/* Button style */
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  height: 70px;
  border: 1px solid #75CCB1;
  border-radius: 40px;
  background: transparent;
  color: #75CCB1;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s; }

.progress-button button:hover {
  background-color: #75CCB1;
  color: #fff; }

.progress-button button:focus {
  outline: none; }

/* Text (transition for when returning to initial state) */
.progress-button button span {
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s; }

/* Common style of SVGs */
.progress-button svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none; }

.progress-button svg path {
  opacity: 0;
  fill: none; }

.progress-button svg.progress-circle path {
  stroke: #75CCB1;
  stroke-width: 5; }

.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

/* Loading, success and error effects */
.loading.progress-button button {
  width: 70px;
  /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff; }

.loading.progress-button span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s; }

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
  /* keep it hidden in all states */ }

.success.progress-button button,
.error.progress-button button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s; }

.success.progress-button button {
  border-color: #75CCB1;
  background-color: #75CCB1; }

.error.progress-button button {
  border-color: #E87461;
  background-color: #E87461; }

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s; }

/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s; }

.loading.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s; }

.main_field {
  height: 66px;
  min-width: 250px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #75CCB1;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  padding-left: 40px;
  color: #75CCB1;
  font-size: 14px; }

.main_field:focus {
  height: 66px;
  min-width: 250px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #75CCB1;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 40px;
  outline: none;
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  -ms-transition: background 500ms ease-in-out;
  -o-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out; }

form {
  width: auto;
  margin: 0 auto; }

.texture {
  height: 5em;
  width: 100%;
  margin: 0 0 0 0; }
  .texture .texture-normal {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/concrete_wall_2.png"), -webkit-linear-gradient(180deg, white, white), center repeat repeat white scroll;
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/concrete_wall_2.png"), linear-gradient(180deg, white, white), center repeat repeat white scroll;
    float: left;
    width: 100%; }
  .texture .texture-inverted {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/diagonal-noise.png"), -webkit-linear-gradient(180deg, white, white), center repeat repeat white scroll;
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/diagonal-noise.png"), linear-gradient(180deg, white, white), center repeat repeat white scroll;
    float: left;
    height: 5em;
    width: 50%; }

.progress-bar-indication {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  margin: 0 auto;
  width: 100%; }
  .progress-bar-indication > span.meter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #477DCA;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-radius: 2px;
    border-top-right-radius: 0;
    border: 1px solid #2c5999;
    display: block;
    height: 100%;
    width: 60%; }
  .progress-bar-indication p {
    color: white;
    font-weight: 800;
    line-height: 1.5em;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black; }

/*# sourceMappingURL=app.css.map */
